@import url('default.css');
form {
	text-align:left; 
	display:inline-block; 
	width:350px;
}
form p{ 
	margin-top:-5px; 
	margin-bottom:-14px; 
	font-weight:bold; 
	display:none;
}
legend{ 
	text-align:center; 
	margin-bottom:20px; 
	width:100%; 
	float:left; 
	height:40px;
}
.errorMessage{ 
	display:block; 
	text-align:center; 
	position:absolute; 
	top:50px; 
	width:100%;
}
.error .errorMessage{
	color:#d13a20; 
}
.success .errorMessage{
	color:#5e9736;
}
img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
img#loader{ 
	position:absolute; 
	top:163px; 
	left:153px; 
	display:none;
}
fieldset{
	border:none;
	padding:0px; 
	position:relative;
}
fieldset ol{
	padding:0px; 
	list-style-type:none; 
	margin-top:0;
}
section#session, section#logo, section#registration{ 
	display:inline-block; 
	border-style:none; 
	text-align:center; 
	margin-top:0; 
	padding:0; 
	height:350px;
}
section#session, section#registration{ 
	width:380px; 
	margin-left:20px; 
	margin-right:20px;
}
section#logo{
}
section#logo a{ 
	margin-left:auto; 
	margin-right:auto; 
	display:block; 
	width:150px;
}
div#wrapper{ 
	overflow:hidden; 
	position:relative; 
	width:100%; 
	height:100%;
	-webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(5%,rgba(0,0,0,1)), color-stop(95%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)) );
	-webkit-mask-repeat: none; 
}
div#innerWrapper{
	-webkit-box-orient: horizontal; 
	width:1500px; 
	margin-left:-0px; 
	height:350px; 
	margin-top:20px;
}
