/* @override app://stylesheets/push.css */
@font-face {
	font-family: "Ronda-Seven";
	src: url(fonts/pf_ronda_seven.ttf) format("truetype");
}
@font-face {
	font-family: "Ronda-Seven-Bold";
	src: url(fonts/pf_ronda_seven_bold.ttf) format("truetype");
}

*{
	background:transparent;
	cursor: default;
	-webkit-user-select: none; 
	-webkit-user-drag: none;
}
html,body{ 
	color:#f1f1f1; 
	margin:0; 
	padding:0; 
	font:8px Ronda-Seven;
	text-shadow: 0 1px 2px black; 
	background-color:transparent;
}
img{ 
	display:none;
}
#currentTrack{
	width:300px;
	-webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(20%,rgba(0,0,0,1)), color-stop(80%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)) );
	-webkit-mask-repeat: none; 
	overflow:hidden; 
	float:right; 
	position:relative; 
	height:14px; 
	margin-right:25px;
}
.scroll{ 
	overflow:visible; 
	white-space:nowrap; 
	display:block; 
	width:600px; 
	position:relative; 
	left:50%; 
	margin-left:-300px;
}
.scrollText{ 
	position:absolute;
	-webkit-animation-name: scroll;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear; 
	display:block; 
	white-space:nowrap; 
	left:100%;
}
.scrollText span{ 
	display:inline-block;
}
.scrollText span:after{
	font-family:Ronda-Seven;
	content:" — ";
}
.scrollText span.album:after, .scrollText .previousTrack:after, .scrollText .nowPlayingTrack:after{
	content:"";
}
.pushState{ 
	font-family:Ronda-Seven-Bold; 
	width:100px; 
	text-align:right;
}
.pushState:after{
    content:":";
}
.pushState.success{ 
	color:#52c047;
}
.pushState.pushing{ 
	color:#f3c547;
}
.pushState.error{ 
	color:#d1702d;
}
.nowPlayingTrack span.state{ 
	font-weight:bold !important; 
	margin-left:20px;
}
.nowPlayingTrack .state:after{ 
	content:":";
}
#playerState{ 
    display:none;
	padding-right:10px; 
	padding-left:5px; 
	position:absolute; 
	right:0; 
	top:0;
}
@-webkit-keyframes scroll{
	0% {
		left:100%;
	}
	100% {
		left:-100%;
	}
}